.App {
  text-align: center;
 
  background-size: auto;
  
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background-image: url(https://st2.depositphotos.com/1004757/5397/i/600/depositphotos_53977973-stock-photo-green-grass-texture.jpg);
}
